body {
  background-color: #22252B;
  color: #f2f2f2;
}

#quiz-form {

  text-align: center;
   justify-content: center;
}

#center{
    text-align: center;
}

.center-vertically {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

#results{
  text-align: center;
}

.img-desktop {
    width: 600px; /* Set the width for desktop */
}

/* Use a media query to override the width on smaller screens */
@media (max-width: 767px) {
    .img-desktop {
        width: 100%; /* Reset width for mobile devices */
    }
